@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        :root {
            --light-text-color: #fff;
            --dark-background-color: #252B42;
            --text-color: #252B42;
        }

        body {
            position: relative;
            font-size: 14px;
            font-family: Montserrat;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        .header {
            background: url(img/cover.jpg);
            background-size: cover;
            background-position-x: center;
        }



        .header:before {
            content: '';
            background: rgba(0, 0, 0, 0.5);
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .nav_menu {
            display: flex;
            justify-content: center;
            padding: 23px 136px;
            z-index: 2;
            position: relative;
        }

        .container {
            width: 1050px;

        }

        .header_block {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .nav {
            display: flex;
        }

        nav ul {
            display: flex;
            gap: 20px;
            list-style-type: none;
        }

        .nav li a,
        .header_logo {
            color: #fff;
        }

        .nav li a {

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 171.429% */
            letter-spacing: 0.2px;
        }


        .header_logo {
            display: block;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.1px;
        }

        .top_banner {
            display: flex;
            justify-content: center;
            padding: 80px 0px;
            z-index: 2;
            position: relative;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 0px;
        }

        .main-content h1,
        .main-content h4 {
            text-align: center;
            color: #fff;
        }

        .main-content h1 {
            font-size: 58px;
            font-style: normal;
            font-weight: 800;
            line-height: 80px;
            letter-spacing: 0.2px;
            max-width: 570px;

        }

        .main-content h4 {

            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.2px;
            max-width: 570px;

        }

        .btn {
            display: flex;
            margin-left: 30px;
        }

        .header_search {

            background: none;
            border: none;
            width: 40px;

        }

        .header_cart {

            background: none;
            border: none;
            width: 40px;
        }

        .btn-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .btn-1,
        .btn-2 {
            padding: 10px 36px;
            border-radius: 37px;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.2px;
        }

        .btn-1 {


            background: #FFA62B;

        }

        .btn-2 {

            border: 1px solid #fff;
        }

        .choose_us {
            background: var(--dark-background-color);
            z-index: 5;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .choose_us_container {
            display: flex;
            padding: 45px 0px;
            flex-direction: column;
            align-items: center;
        }

        .choose_us_h2 {
            color: var(--light-text-color);
            font-size: 3em;
            font-weight: 700;
            line-height: 57px;
            letter-spacing: 0.2px;
            text-align: center;
        }

        .choose_us_p {
            color: var(--light-text-color);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.2px;
        }

        .choose_us_grid {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 20px;
        }

        .choose_card_item {
            display: flex;
            flex-direction: column;
            padding: 35px 40px;
            border: 1px solid #E8E8E8;
            background: #FFF;

        }

        .choose_card_item_img {
            display: flex;
            gap: 20px;
        }

        .choose_us_h5 {
            color: var(--text-color);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.1px;
        }

        /*media queries*/
        @media screen and (min-width: 320px) and (max-width:768px) {
            .header_block {
                align-items: center;
                flex-direction: column;
            }

            .nav {
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .main-content h1 {
                font-size: 2em;
                line-height: 40px;
            }

            nav ul {

                gap: 15px;
                padding-inline-start: 0;
            }

            .btn {

                margin-left: 0;
            }

            .main-content h4 {
                font-size: 18px;
                padding: 0 20px;
            }

            .btn-info {
                flex-direction: column;

                gap: 15px;
            }

            .choose_us_grid {
                grid-template-columns: auto;
                gap: 10px;
                padding: 10px;
            }

            .choose_us_p {
                padding: 10px;
            }
        }